/*body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

#branding_1 {
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom:-40px;
    padding-bottom:0px;
    max-width: 50%;
}

#hilight_1{
    color: green;
    font-weight: bold;
}

#formData{
    margin-left: auto;
    margin-right:auto;
    max-width: 50%;
    padding: 20px 20px 20px 20px;
    border: 3px solid red;
}



.lblDiv{
    float:left;
    margin: 0px 50px 20px 20px;
}
.textBoxDiv {
    float: right;
    margin: 0px 50px 20px 20px;
}

#btnSubmitDiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}*/